# Streamlit Framework
streamlit

# Core LangChain & AI Libs
langchain
langchain-core
langchain-community
langchain-groq
langchain-google-genai
langchain-chroma
google-generativeai

# Vector Database & Embeddings
chromadb
sentence-transformers

# Utilities
python-dotenv
pypdf
