# Streamlit Framework
streamlit

# Core LangChain & AI Libs
langchain
langchain-core
langchain-community
langchain_groq
langchain_google_genai
langchain-google
langchain-chroma
google-generativeai
pysqlite3-binary

# Vector Database & Embeddings
chromadb
sentence-transformers

# Utilities
python-dotenv
pypdf


