# Streamlit Framework
streamlit

# Core LangChain & AI Libs
# Pinning to a known stable set of versions to resolve pydantic conflict
langchain
langchain-core==0.1.52
pydantic
langchain-community
langchain_groq
langchain-google-genai
langchain-chroma
google-generativeai
pysqlite3-binary

# Vector Database & Embeddings
chromadb
sentence-transformers
transformers==4.43.3
torch==2.3.1
torchvision==0.18.1

# Utilities
python-dotenv
pypdf

